<ion-view>
    <ion-nav-bar class="header-grad">
        <ion-nav-back-button class="button-clear">
            <i class="icon ion-ios-arrow-left"></i>GLOSSARY
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div style="padding: 1em">
            <p>ABOUT THIS APPLICATION</p>
            <p>Release v1.0.0.</p>
            <p>&copy; 2016 American International Group, Inc</p>
            <p>All rights reserved.</p>
        </div>
        <ion-list>
            <ion-item ng-click="goToPrivacyPolicy()">
                <div>
                    <p>Privacy Policy</p>
                </div>
                <div class="item-icon-right">
                    <i class="icon ion-ios-arrow-right"></i>
                </div>
            </ion-item>

            <ion-item ng-click="goToTermsOfUse()">
                <div>
                    <p>Terms of Use</p>
                </div>
                <div class="item-icon-right">
                    <i class="icon ion-ios-arrow-right"></i>
                </div>
            </ion-item>

            <ion-item ng-click="openFeedbackModal()">
                <div>
                    <p>Have Feedback or a Suggestion?</p>
                </div>
                <div class="item-icon-right">
                    <i class="icon ion-ios-arrow-right"></i>
                </div>
            </ion-item>

<!--
            <ion-item ng-click="sendAnalytics()">
                <div>
                    <p>Send Analytics</p>
                </div>
                <div class="item-icon-right">
                    <i class="icon ion-ios-arrow-right"></i>
                </div>
            </ion-item>

            
            <ion-item ng-click="getLogConf()">
                <div>
                    <p>Get server log conf</p>
                </div>
                <div class="item-icon-right">
                    <i class="icon ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            
             <ion-item ng-click="sendLogFile()">
                <div>
                    <p>Send log file</p>
                </div>
                <div class="item-icon-right">
                    <i class="icon ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            
            <ion-item ng-click="setLogLevel()">
                <div>
                    <p>Set log level</p>
                </div>
                <div class="item-icon-right">
                    <i class="icon ion-ios-arrow-right"></i>
                </div>
            </ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>