<ion-modal-view class="ga-feedback-modal">
    <div class="ga-modal-content">
        <!--
<ion-header-bar>
    <h1 class="title">Modal Title</h1> </ion-header-bar>
-->
        <ion-header-bar align-title="center">
            <div class="buttons">
                <button class="button button-clear button-positive" ng-click="cancelFeedback()">Cancel</button>
            </div>
            <h1 class="title">FEEDBACK</h1>
            <div class="buttons">
                <button class="button button-clear button-positive" ng-click="submitFeedback()">Submit</button>
            </div>
        </ion-header-bar>
        
        <ion-content class="has-header" style="padding: 10px"> <span>Tell us a brief description of the issue, feedback or suggestion.</span>
            <textarea ng-model="feedback.comments" placeholder="Description" style="margin-top: 10px; width: 100%; height:150px; border: 1px solid grey; border-radius: 0"></textarea>
        </ion-content>
    </div>
</ion-modal-view>